<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>User</title>
</head>
<body class="flex justify-center items-center py-20 bg-blue-300 min-h-screen">
  <form class="shadow-md p-10 bg-blue-200" action="/login" method="Post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <p class="text-sm text-gray-600 pb-4">Please login here:</p>
    <div class="py-2">   
      <label class="w-full" for="name">User Name: </label>
      <input class="border border-gray-400 rounded-md w-full" value="{{.UserName}}" type="text" name="UserName">
      <p class="text-red-500 ">{{.FormError.UserName}}</p>
    </div>
    <div class="py-2">
      <label class="w-full" for="name">Password: </label>
      <input class="border border-gray-400 rounded-md w-full" type="password" name="Password">
       <p class="text-red-500 ">{{.FormError.Password}}</p>
    </div>
    <button class="w-3/12 border border-black rounded-md bg-blue-400 py-1 mt-4" type="submit">
      Login
    </button>
  </form>
</body>
</html>